USE [myDB]
GO
/****** Object:  Table [dbo].[Classroom]    Script Date: 6/8/2026 5:12:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classroom](
	[MaLop] [char](10) NOT NULL,
	[TenLop] [nvarchar](100) NOT NULL,
	[SiSo] [int] NULL,
	[GVCN] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 6/8/2026 5:12:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[MaMH] [char](10) NOT NULL,
	[TenMH] [nvarchar](100) NOT NULL,
	[SoTC] [int] NULL,
	[Tuan] [int] NULL,
	[Hky] [int] NULL,
	[Mota] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DKMH]    Script Date: 6/8/2026 5:12:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DKMH](
	[MSSV] [int] NOT NULL,
	[MaMH] [char](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MSSV] ASC,
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[login]    Script Date: 6/8/2026 5:12:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login](
	[Id] [int] NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](64) NOT NULL,
	[role] [varchar](20) NULL,
	[email] [varchar](100) NULL,
	[LoginAttempts] [int] NOT NULL,
 CONSTRAINT [PK_login] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[register_HR]    Script Date: 6/8/2026 5:12:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[register_HR](
	[Id] [int] NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[password] [varchar](64) NOT NULL,
	[Fname] [nvarchar](50) NOT NULL,
	[Lname] [nvarchar](50) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Picture] [image] NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_register_HR] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[register_student]    Script Date: 6/8/2026 5:12:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[register_student](
	[MSSV] [int] NOT NULL,
	[Fname] [nvarchar](50) NOT NULL,
	[Lname] [nvarchar](30) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Pture] [image] NULL,
 CONSTRAINT [PK_register_student] PRIMARY KEY CLUSTERED 
(
	[MSSV] ASC,
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Score]    Script Date: 6/8/2026 5:12:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Score](
	[student_id] [int] NOT NULL,
	[course_id] [nvarchar](50) NOT NULL,
	[course_name] [nvarchar](100) NOT NULL,
	[DiemQT] [float] NULL,
	[DiemCK] [float] NULL,
	[DiemTK]  AS (round([DiemQT]*(0.4)+[DiemCK]*(0.6),(2))) PERSISTED,
	[description] [nvarchar](250) NULL,
 CONSTRAINT [PK_Score] PRIMARY KEY CLUSTERED 
(
	[student_id] ASC,
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 6/8/2026 5:12:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[MSSV] [int] NOT NULL,
	[Fname] [nvarchar](50) NOT NULL,
	[Lname] [nvarchar](30) NOT NULL,
	[Dob] [datetime] NULL,
	[Gder] [nvarchar](10) NULL,
	[Phone] [nvarchar](15) NULL,
	[Address] [nvarchar](200) NULL,
	[Htown] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Pture] [image] NULL,
	[PrintRequest] [nvarchar](20) NULL,
	[PrintRequestDate] [datetime] NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[MSSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Classroom] ([MaLop], [TenLop], [SiSo], [GVCN]) VALUES (N'ATTT2201  ', N'An toàn thông tin K22', 30, N'Võ Thị Hồng')
INSERT [dbo].[Classroom] ([MaLop], [TenLop], [SiSo], [GVCN]) VALUES (N'CNTT2201  ', N'Công nghệ thông tin K22 - Lớp 1', 35, N'Nguyễn Văn An')
INSERT [dbo].[Classroom] ([MaLop], [TenLop], [SiSo], [GVCN]) VALUES (N'CNTT2202  ', N'Công nghệ thông tin K22 - Lớp 2', 33, N'Trần Thị Bích')
GO
INSERT [dbo].[Course] ([MaMH], [TenMH], [SoTC], [Tuan], [Hky], [Mota]) VALUES (N'CAAL_2026 ', N'Computer Architecture and Assembly Language', 3, 15, 2, N'Lecturer: Nguyễn Đăng Quang')
INSERT [dbo].[Course] ([MaMH], [TenMH], [SoTC], [Tuan], [Hky], [Mota]) VALUES (N'DBMS_2026 ', N'Database Management System', 4, 100, 1, N'')
INSERT [dbo].[Course] ([MaMH], [TenMH], [SoTC], [Tuan], [Hky], [Mota]) VALUES (N'INT2206   ', N'Object-Oriented Programming', 3, 15, 1, N'Lập trình hướng đối tượng với C#')
GO
INSERT [dbo].[login] ([Id], [username], [password], [role], [email], [LoginAttempts]) VALUES (321, N'lengochai_hr', N'0970481e031c3009d3631187ce0cb9b60559d149b67e79823c91ab8b85d1d40a', N'HR', N'frenxishere116@gmail.com', 0)
INSERT [dbo].[login] ([Id], [username], [password], [role], [email], [LoginAttempts]) VALUES (24110118, N'lehuyphat_hr', N'd3da1e46d3d09837ce8bb422bd4f6a8213e3c84e338fd992139b9f496b1db686', N'HR', N'huyphat06112006@gmail.com', 0)
INSERT [dbo].[login] ([Id], [username], [password], [role], [email], [LoginAttempts]) VALUES (24110119, N'sv22110045', N'6A717CF66167F3728BB48458A1E802E029B5F0268210F6F621B629C58A686297', N'Student', N'pham.dung@gmail.com', 0)
GO
INSERT [dbo].[Score] ([student_id], [course_id], [course_name], [DiemQT], [DiemCK], [description]) VALUES (22110045, N'INT2204', N'Windows Programming', 7.5, 7, N'Học kỳ 2 - Lớp K22')
INSERT [dbo].[Score] ([student_id], [course_id], [course_name], [DiemQT], [DiemCK], [description]) VALUES (22110045, N'INT2206', N'Object-Oriented Programming', 8, 8.5, N'Học kỳ 1 - Lớp K22')
INSERT [dbo].[Score] ([student_id], [course_id], [course_name], [DiemQT], [DiemCK], [description]) VALUES (22110045, N'INT2207', N'Data Structures & Algorithms', 6.5, 7, N'Học kỳ 1 - Lớp K22')
GO
INSERT [dbo].[Student] ([MSSV], [Fname], [Lname], [Dob], [Gder], [Phone], [Address], [Htown], [Email], [Pture], [PrintRequest], [PrintRequestDate]) VALUES (22110045, N'Phạm Thị', N'Dung', CAST(N'2004-03-22T00:00:00.000' AS DateTime), N'Nữ', N'0934567890', N'12 Lý Thường Kiệt', N'Hà Nội', N'pham.dung@gmail.com', NULL, NULL, NULL)
INSERT [dbo].[Student] ([MSSV], [Fname], [Lname], [Dob], [Gder], [Phone], [Address], [Htown], [Email], [Pture], [PrintRequest], [PrintRequestDate]) VALUES (22110078, N'Nguyễn Minh', N'Khoa', CAST(N'2003-11-05T00:00:00.000' AS DateTime), N'Nam', N'0945678901', N'88 Trần Phú', N'Đà Nẵng', N'nguyen.khoa@gmail.com', NULL, NULL, NULL)
INSERT [dbo].[Student] ([MSSV], [Fname], [Lname], [Dob], [Gder], [Phone], [Address], [Htown], [Email], [Pture], [PrintRequest], [PrintRequestDate]) VALUES (23110032, N'Trần Hoàng', N'Long', CAST(N'2004-07-18T00:00:00.000' AS DateTime), N'Nam', N'0956789012', N'45 Nguyễn Văn Cừ', N'TP.HCM', N'tran.long@gmail.com', NULL, NULL, NULL)
GO
ALTER TABLE [dbo].[login] ADD  DEFAULT ((0)) FOR [LoginAttempts]
GO
ALTER TABLE [dbo].[register_HR] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[DKMH]  WITH CHECK ADD FOREIGN KEY([MaMH])
REFERENCES [dbo].[Course] ([MaMH])
GO
ALTER TABLE [dbo].[DKMH]  WITH CHECK ADD FOREIGN KEY([MSSV])
REFERENCES [dbo].[Student] ([MSSV])
GO
ALTER TABLE [dbo].[Score]  WITH CHECK ADD  CONSTRAINT [FK_Score_Student] FOREIGN KEY([student_id])
REFERENCES [dbo].[Student] ([MSSV])
GO
ALTER TABLE [dbo].[Score] CHECK CONSTRAINT [FK_Score_Student]
GO
ALTER TABLE [dbo].[Score]  WITH CHECK ADD  CONSTRAINT [CK_DiemCK] CHECK  (([DiemCK] IS NULL OR [DiemCK]>=(0) AND [DiemCK]<=(10)))
GO
ALTER TABLE [dbo].[Score] CHECK CONSTRAINT [CK_DiemCK]
GO
ALTER TABLE [dbo].[Score]  WITH CHECK ADD  CONSTRAINT [CK_DiemQT] CHECK  (([DiemQT] IS NULL OR [DiemQT]>=(0) AND [DiemQT]<=(10)))
GO
ALTER TABLE [dbo].[Score] CHECK CONSTRAINT [CK_DiemQT]
GO
